<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Carchive® Admin</title>
  <style>
    .font {
      font-family: 'Courier New', Courier, monospace;
    }
    .BORDER {
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .FONT{
      font-weight: bold;
    }
  </style>
</head>
<style>
  .my_buttons{
    margin:45%;
  }

 .font{

  font-family:'Courier New', Courier, monospace;
  font-size: larger;
    }
.show_form{
  width: 50%;
  margin: 0 auto; 
  background-color: ghostwhite;
}
 
</style>

<body>
  <header class="font-monospace border-bottom">
    <div class="text-center bg-dark py-2">
      <h1 class="text-light">Carchive®</h1>
    </div>
    <div class="row my-2">
      <div class="col"></div>
      <div class="col"></div>
      <div class="my-2 col justify-content-end">
        <a href="/admin/dashboard/" class="btn btn-primary btn-sm FONT ">Dashboard</a>
        <a href="/admin/logout/" class="btn btn-danger btn-sm FONT">logout</a>
      </div>
    </nav>
  </header>

  <main class="mx-5 row">
    <div class="my-5 col border border-primary BORDER">
      
        <div>
            <h4>Showroom name: <span class="font">{{this_showroom.name}}</span></h4>
        </div>
        <div class="my-3">
            <h4>Owner email: <span class="font">{{this_showroom.email}}</span></h4>
        </div>
        <div class="my-3">
            <h4>Showroom license number: <span class="font">{{this_showroom.license_number}}</span></h4>
        </div>
        <div class="my-3">
            <h4>Payment method: <span class="font">{{this_showroom.payment}}</span></h4>
        </div>
      

    </div>
    </div>
  </main>

  <div class="row my-2">
    <div class="my-2 col justify-content-center text-center ">
      <a href="/admin/edit_showroom/{{this_showroom.id}}/" class="btn btn-primary btn-sm FONT">Edit</a>
      <a href="/admin/delete_showroom/{{this_showroom.id}}/" class="btn btn-danger btn-sm FONT">Delete</a>
  </div>
    <div class="col"></div>

</div>
</body>

</html>