<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <style>
            .FONT {
              font-family: 'Courier New', Courier, monospace;
              font-size: larger;
            }
          </style>
    </head>

<body>
    <header class="font-monospace border-bottom">
        <div class="text-center bg-dark row">
            <div class="col"></div>
            <div><h1 class="text-light col">Carchive®</h1></div>
            <div class="col my-3">
                <a href="/dashboard/" class="btn btn-primary btn-sm font-weight-bold">Dashboard</a>
                <a href="/logout/" class="btn btn-danger btn-sm font-weight-bold">logout</a>
            </div>
        </div>
        <div class="text-center row align-items-center my-2">
            <div class="col"></div>
            <div class="col FONT ">CHANGE SHOWROOM PASSWORD</div>
            <div class="col"></div>
        </div>
      <div class="text-center row align-items-center">
        <div class="col"></div>
        <div class="col FONT">{{showroom.name}}</div>
        <div class="col"></div>
      </div>
    </header>

    <main class="mx-5 row">
        <div class="my-5 col">
            <form action="/update_password/" method="POST">
                {% csrf_token %}
                <h5><div>
                    <label for="old_password" class="form-label font-weight-bold">OLD PASSWORD:</label>
                    <input type="password" name="old_password" id="old_password" class="form-control">
                </div></h5>
                <br>
                <h5><div>
                    <label for="new_password" class="form-label font-weight-bold">NEW PASSWORD:</label>
                    <input type="password" name="new_password" id="new_password" class="form-control">
                </div></h5>
                <br>
                <h5><div>
                    <label for="conf_new_password" class="form-label font-weight-bold">NEW PASSWORD CONFIRMATION:</label>
                    <input type="password" name="conf_new_password" id="conf_new_password" class="form-control">
                </div></h5>
                <input type="submit" value="CHANGE" class="btn btn-danger my-3 font-weight-bold">
            </form>
            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

        </div>
        <div class="col"></div>
    </main>
</body>

</html>